blockquote {
    border-left:8px solid #0383c9;
    background: #474747;
    font-size:1.0em;
    margin:20px 10px;
    padding:10px;
    padding-left:20px;
    }
blockquote span {
        display: block; 
        float: right;
        padding-right:20px;
    }
