blockquote {
    border-left:8px solid #0383c9;
    font-size:1.0em;
    margin:5px 10px 5px 5px;
    padding:10px;
    padding-left:20px;
    }
blockquote span {
        display: block; 
        float: right;
        padding-right:20px;
    }
