blockquote {
    border-left:6px solid #0383c9;
    font-size:1.0em;
    font-style: italic;    
    padding-left:5px;
    float: right;
    }
blockquote span {
        display: block; 
        float: right;        
    }
