<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"  />
<meta name="author" content="Joseph Stachelek" />
<link rel="stylesheet" type="text/css" href="/css/default.css" />
<link rel="stylesheet" type="text/css" href="/css/pretty_code.css" />

<title>Programming notes</title>
</head>

<body>
<div id="wrap">
	<div id="header">
		<p id="toplinks">

		</p>

		<!-- <h1><a href="/"><div id="logo"></div>über<span class="fade">duper</span></a></h1>
		<div class="slogan">
				<a href="/code.html" class="pink">code{web}</a> :|: 
				<a href="/os.html" class="green">software{apple}</a> :|: 
				<a href="/life.html" class="orange">life{me}</a>
		</div> -->

</div>

<div id="content">  
  {{ content }}
</div>

<!-- <div id="footer">

    Keep in touch with family:<a href="http://www.spokt.com">spokt.com</a> ||
    <a href="http://shotbydan.com">shot by dan photograpy</a> ||
    <a href="http://communicatopia.com">personal blog</a> ||
    <a href="http://twitter.com/danhixon">twitter</a>

<p>&copy; 2010 <a href="/about.html">Dan Hixon</a>

</div> -->

</div>

</body>
</html>

